.mg-label.mg-label--theme--mint.mg-header__label.mg-button(data-navigation-type='delete')='Delete ' + count + ' messages'
.mg-label.mg-label--theme--sand.mg-header__label.mg-button(data-navigation-type='cancel') Cancel
