@import '../../../../style/utils/variables';

.textarea {
  margin-right: 20px;
  width: 100%;
  height: 100px;
  padding: 10px 10px;
  resize: none;
  outline: none;
  border: none;
  background: rgba($color-background-message, 0.4);
  color: rgba($color-text-base, 0.7);
  overflow: auto;

  &::-webkit-input-placeholder {
    color: rgba($color-text-base, 0.7);
  }
}

.button-send {
  height: 30px;
  width: 30px;

  .icon:hover {
    fill: rgba(#fff, 0.5);
  }
}
