extends ../layouts/base.pug

block variables
  - var title = "Octochat"

block content
  .mg-app.mg-app--page--chat(hidden)
  .mg-app.mg-app--page--chat-editor
    .mg-chat-editor.mg-container
      .mg-chat-editor__header.mg-header
        button.mg-button.mg-button--type--new-chat
          +icon('new-chat', ['icon-30', 'icon-light'], 'create chat')
      .mg-chat-editor__history.mg-history.mg-custom-scrollbar
