extends ../layouts/base.pug

block variables
  - var title = "Base template"

block content
  .mg-app
    .mg-container
      .mg-header
      .mg-history
        .item
        .item
        .item
        .item
        .item
        .item
        .item
        .item
      .mg-panel
        textarea.mg-panel_textarea
        button.mg-panel_send send
